#login-page {
	width: 500px;
	height: 500px;
	background: #fff url(images/bg.png) no-repeat;
	position: absolute;
}

#login-box {
	width: 235px;
	height: 381px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -190px;
	margin-left: -120px;
	background: rgba(255, 255, 255, 0.5) url(images/shape.png) no-repeat center 331px;
	border-radius: 8px;
}

#login-title {
	font-family: 微软雅黑;
	font-weight: normal;
	font-size: 20px;
	line-height: 94px;
	height: 94px;
	text-shadow: 2px 2px 4px #000;
	color: #fff;
	position: absolute;
	left: 36px;
}

.input {
	background: #7F7174;
	box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.75), inset 0px 1px 1px 0px rgba(12, 4, 7, 0.39);
	width: 164px;
	height: 32px;
	border-radius: 25px;
	position: absolute;
	left: 31px;
	font-size: 14px;
	color: white;
	background-repeat: no-repeat;
	background-position: 15px center;
	text-indent: 45px;
}

#username {
	top: 94px;
	background-image: url(images/User.png);
}

#pwd {
	top: 154px;
	background-image: url(images/Key.png);
}

#confirm-pwd {
	top: 213px;
	background-image: url(images/Key.png);
}

#login-button {
	color: white;
	font-size: 12px;
	background-color: #E79032;
	width: 120px;
	height: 32px;
	border-radius: 16px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.48);
	position: absolute;
	top: 283px;
	left: 53px;
}